.profile__profession {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 567px) {
  .profile__profession {
    font-size: 14px;
    margin: 0;
  }
}
