.form__item {
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  font-size: 14px;
  line-height: 1.2;
}

.form__item:focus {
  background: #AFEEEE;
}

@media screen and (max-width: 567px) {
  .form__item {
    padding-bottom: 5px;
  }
}
