.form__submit-button {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 14px 0 18px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
  opacity: 1;
  transition: opacity linear 0.5s;
}

.form__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 567px) {
  .form__submit-button {
    height: 40px;
    padding: 12px 0 14px;
    font-size: 14px;
    line-height: 1.2;
  }
}
