@import url(./__card/places__card.css);

.places {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-template-rows: repeat(auto-fit, 360px);
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  margin: 0 0 66px;
  padding: 0;
  justify-content: space-around;
}
