.places__card {
  position: relative;
  max-width: 280px;
  max-height: 360px;
  min-height: 360px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  background-color: #FFF;
  color: #000;
  overflow: hidden;
  box-sizing: border-box;
}
