@import url(./__label/form__label.css);
@import url(./__item/form__item.css);
@import url(./__submit-button/form__submit-button.css);
@import url(./__error/form__error.css);

.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 358px;
}
